<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
   <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/main.css" />
    
    
</head>
<body id="consumer">

	<form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
    
	<div id="topics-expanded">
		<h1 class="title">Place an Order</h1>
		
		<div id="topic-event-creation">
        <div class="apps">
         <h1 class="topic-title">Appetizers</h1>
         <div id="apps-list"></div>
         		<div th:each="menuItem : *{menuItems}">
		          	<div th:if="menu eq 'Appetizers'">
						<!-- <h1><input type="checkbox" th:field="*{entries}" th:value="${entry.itemQuantity}" /><label th:text="${entry.itemName}"></label></h1><h1 class="menu-price"><label th:text="${entry.itemPrice}"></label></h1>  -->
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>  
						<a th:href="@{/entry/{id}(id = ${entry.id})}">Update the Item</a><br />
						<a th:href="@{/entry/delete/{id}(id = ${entry.id})}">Delete the Item</a>
						
				    </div>	        
		    	</div>
			</div>
        <button id="order-submit">Review Order</button>
      </div>
    </div>
    <!-- <div th:each="entry : *{entries}">
        <h2 th:text="${entry.itemName}"></h2>
        <p th:text="${entry.itemDescription}"></p>
        <p th:text="${entry.itemPrice}"></p>
        <p th:text="${entry.itemQuantity}"></p>
        <p th:text="${entry.itemCategory}"></p>
       	<input type="text" name="temp" value="22" th:value="${temp}" />
    </div> -->
    <div class="">
        
    </div>
</body>l
</html>

