<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Customer Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="consumer">

	<form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
    
	<form method="post" th:action="${givenAction}">
     <div id="topics-expanded">
		<h1 class="title">Menu Items</h1>
		
		<div id="topic-event-creation">
        <div class="apps">
        
          <h1 class="topic-title">Appetizers</h1>
         <div id="apps-list"></div>
         		<div th:each="menuItem : ${menuItems}">
		          	<div th:if="${menuItem.itemCategory} eq 'Appetizers'">
						<!-- <h1><input type="checkbox" th:field="${entries}" th:value="${menuItems.itemQuantity}" /><label th:text="${menuItems.itemName}"></label></h1><h1 class="menu-price"><label th:text="${menuItems.itemPrice}"></label></h1>  -->
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>  
						
						<a th:href="@{/reviewOrder/{itemName}(itemName = ${menuItem.itemName})}" class="col-md-1">
			                <button type="button" class="btn btn-primary" >Add to Order</button>
			            </a>
			            <br><br>

				    </div>	        
		    	</div>	
        </div>
        <div class="lunch">
          <h1 class="topic-title">Lunch</h1>
          <div id="lunch-list"></div>
		         <div th:each="menuItem : ${menuItems}">
		          	<div th:if="${menuItem.itemCategory} eq 'Lunch'">
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>        
						
						<a th:href="@{/reviewOrder/{itemName}(itemName = ${menuItem.itemName})}" class="col-md-1">
			                <button type="button" class="btn btn-primary" >Add to Order</button>
			            </a>
			            <br><br>
			            
				    </div>	        
		    	</div>
        </div>
        <div class="dinner">
          <h1 class="topic-title">Dinner</h1>
          <div id="dinner-list"></div>
          		<div th:each="menuItem : ${menuItems}">
		          	<div th:if="${menuItem.itemCategory} eq 'Dinner'">
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>  
						
						<a th:href="@{/reviewOrder/{itemName}(itemName = ${menuItem.itemName})}" class="col-md-1">
			                <button type="button" class="btn btn-primary" >Add to Order</button>
			            </a>
			            <br><br>
			            
				    </div>	        
		    	</div>
        </div>
        <div class="sides">
          <h1 class="topic-title">Sides</h1>
          <div id="sides-list"></div>
          		<div th:each="menuItem : ${menuItems}">
		          	<div th:if="${menuItem.itemCategory} eq 'Sides'">
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>  			        
			
						<a th:href="@{/reviewOrder/{itemName}(itemName = ${menuItem.itemName})}" class="col-md-1">
			                <button type="button" class="btn btn-primary" >Add to Order</button>
			            </a>
			            <br><br>
			            
				    </div>	        
		    	</div>
        </div>
        <div class="drinks">
          <h1 class="topic-title">Drinks</h1>
          <div id="drinks-list"></div>
          		<div th:each="menuItem : ${menuItems}">
		          	<div th:if="${menuItem.itemCategory} eq 'Drinks'">
						<h1><label th:text="${menuItem.itemName}"></label></h1><div th:inline="text" class="menu-price">Price: [[${menuItem.itemPrice}]] $</div>
						<p th:text="${menuItem.itemDescription}"></p>
						<div th:inline="text" >Quantity: [[${menuItem.itemQuantity}]] Available</div>	
						<br></br>  
						
						<a th:href="@{/reviewOrder/{itemName}(itemName = ${menuItem.itemName})}" class="col-md-1">
			                <button type="button" class="btn btn-primary" >Add to Order</button>
			            </a>
			            <br><br>
			            
				    </div>	        
		    	</div>
        </div>

      </div>
    </div>
    <br></br>
    <div class="">
            <button id="add-item" type="submit">Review Order</button>
        </div>
        
     </form>
    
    <p id="demo"></p> 
    
    <script>
    var orderItems = [];
		function addToOrderFunction(itemName) {
			orderItems.push(itemName);
			document.getElementById("demo").innerHTML = orderItems;
		}
	</script>

</body>
</html>

